<!DOCTYPE html>
<html lang="en" ng-app="myApp" ng-controller="myCtrl">

<head>
    <meta charset="UTF-8">
    <title>Flickr Angular API</title>
    <link href='https://fonts.googleapis.com/css?family=Montserrat:700|Candal' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>

<body>
    <header>
        <h1>Flickr Searcher</h1>
    </header>
    <section class="input-section">
        <form ng-submit="search()">
            <input ng-model="searchTerm" placeholder="Enter a search term" required>
            <button type="submit" ng-click="show=true">Search</button>
        </form>
    </section>



    <script src="https://code.angularjs.org/1.5.5/angular.min.js" type="text/javascript"></script>
    <script src='https://code.angularjs.org/1.5.5/angular-messages.min.js' type="text/javascript"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.5/angular-animate.js"></script>
    <script src="js/script.js"></script>
</body>

</html>
